@model SalesWebMvc.Models.SalesRecord;

<h2>Delete</h2>
<h5>Are you sure you want to delete this sales record?</h5>

<hr />

<dl class="row mb-2">
    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Date)
    </dt>
    <dd class="col-md-10">
        @Html.DisplayFor(Model => Model.Date)
    </dd>
    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Amount)
    </dt>
    <dd class="col-md-10">
        @Html.DisplayFor(Model => Model.Amount)
    </dd>
    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Status)
    </dt>
    <dd class="col-md-10">
        @Html.DisplayFor(Model => Model.Status)
    </dd>
    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Seller)
    </dt>
    <dd class="col-md-10">
        @Html.DisplayFor(Model => Model.Seller.Name)
    </dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-danger" value="Delete" />
    @if (ViewData["IsSimpleSearch"].ToString() == "false")
    {
        <a asp-action="GroupingSearch" asp-route-minDate="@ViewData["minDate"]" asp-route-maxDate="@ViewData["maxDate"]" class="btn btn-outline-secondary">Back to List</a>
    }
    else
    {
        <a asp-action="SimpleSearch" asp-route-minDate="@ViewData["minDate"]" asp-route-maxDate="@ViewData["maxDate"]" class="btn btn-outline-secondary">Back to List</a>
    }
</form>