@model SalesWebMvc.Models.SalesRecord;

<h2>Details</h2>
<h5>Sales Record</h5>

<hr />

<dl class="row mb-2">
    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Date)
    </dt>
    <dd class="col-md-10">
        @Html.DisplayFor(Model => Model.Date)
    </dd>
    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Amount)
    </dt>
    <dd class="col-md-10">
        @Html.DisplayFor(Model => Model.Amount)
    </dd>
    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Status)
    </dt>
    <dd class="col-md-10">
        @Html.DisplayFor(Model => Model.Status)
    </dd>
    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Seller)
    </dt>
    <dd class="col-md-10">
        @Html.DisplayFor(Model => Model.Seller.Name)
    </dd>
</dl>

<form asp-action="Edit" method="get">
    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-primary" value="Edit" />
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</form>