@model List<IGrouping<Department, SalesRecord>>

@{
    ViewData["Title"] = "Grouping Search";
    DateTime minDate = DateTime.Parse(ViewData["minDate"].ToString());
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"].ToString());
}

<h2>@ViewData["Title"]</h2>

<hr />

<form asp-action="GroupingSearch">
    <div class="row align-items-center mb-4 mt-4">
        <div class="col-auto">
            <label class="col-form-label">Min date</label>
        </div>
        <div class="col-sm-2">
            <input type="date" name="minDate" class="form-control" value="@ViewData["minDate"]" />
        </div>
        <div class="col-auto">
            <label class="col-form-label">Max date</label>
        </div>
        <div class="col-sm-2">
            <input type="date" name="maxDate" class="form-control" value="@ViewData["maxDate"]" />
        </div>
        <div class="col-sm-2">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

@foreach (IGrouping<Department,SalesRecord> grouping in Model)
{
    <div class="card shadow-sm mb-4"> <!--shadow-sm: aplica uma sombra leve em um elemento-->
        <div class="card-header text-white">
            <h5 class="mb-1">@grouping.Key.Name, Total sales: @grouping.Key.SumTotalSales(minDate, maxDate).ToString("F2")</h5>
        </div>
        <div class="card-body p-0">
            <table class="table table-hover mb-4">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Seller
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SalesRecord sr in grouping)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modell => sr.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modell => sr.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modell => sr.Seller.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modell => sr.Status)
                            </td>
                            <td>
                                <!--Edit • Details • Delete-->
                                <a asp-action="Edit" asp-route-id="@sr.Id">Edit</a> •
                                <a asp-action="Details" asp-route-id="@sr.Id">Details</a> •
                                <a asp-action="Delete" asp-route-id="@sr.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    

    
}